<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an atrribute "name" that has a value of "MyDB".
-->
    <connectionStrings>
      <add name="MainDB" connectionString="Data Source=donbot;Initial Catalog=AD419;Integrated Security=True" providerName="System.Data.SqlClient"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <add name="CATBERT" connectionString="Data Source=donbot;Initial Catalog=CATBERT3;Integrated Security=True" providerName="System.Data.SqlClient"
       xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <add name="RATBERT" connectionString="Data Source=donbot;Initial Catalog=RATBERT;Integrated Security=True" providerName="System.Data.SqlClient"
       xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>

  <appSettings>
    <add key="ReportServer" value="http://reports.caes.ucdavis.edu/ReportServer/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="CatbertUserService" value="https://secure.caes.ucdavis.edu/Catbert4/UserManagement?application=AD419" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Ad419InstructionServer" value="https://secure.caes.ucdavis.edu/Ad419DataHelper/Ad419Instructions" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ErrorFromEmail" value="automatedemail@caes.ucdavis.edu" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ErrorAdminEmail" value="apprequests@caes.ucdavis.edu" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AppMailTo" value="apprequests@caes.ucdavis.edu" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>