<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>

  <dataConfiguration defaultDatabase="MainDB"/>
  
  <appSettings>
    <add key="mailHost" value="smtp.ucdavis.edu"/>
    <add key="ErrorFromEmail" value="srkirkland@ucdavis.edu" />
    <add key="ErrorAdminEmail" value="srkirkland@ucdavis.edu"/>
    <add key="AppMailTo" value="srkirkland@ucdavis.edu"/>
    <add key="AppName" value="AD419"/>
    <add key="ReportServer" value="http://deploymenttest.caes.ucdavis.edu/Reportserver"/>
  </appSettings>
  <connectionStrings>
    <add name="MainDB" connectionString="Data Source=roberto\DEVEL;Initial Catalog=AD419;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="CATBERT" connectionString="Data Source=roberto\DEVEL;Initial Catalog=CATBERT;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <system.web>

      <httpHandlers>
        <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
          validate="false" />
      </httpHandlers>
      <pages>
        <controls>
          <add namespace="Microsoft.Web.UI" assembly="Microsoft.Web.Atlas" tagPrefix="atlas"/>
          <add namespace="Microsoft.Web.UI.Controls" assembly="Microsoft.Web.Atlas" tagPrefix="atlas"/>
        </controls>
      </pages>

        <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
      <compilation debug="true">
        <buildProviders>
          <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        </buildProviders>
        <expressionBuilders>
          <add expressionPrefix="Code" type="CAESDO.CodeExpressionBuilder" />
        </expressionBuilders>
      </compilation>
        <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
        <authentication mode="Forms">
          <forms name="FormsAuthDB.AspxAuth" loginUrl="login.aspx" defaultUrl="Default.aspx" protection="All" timeout="120" path="/"></forms>
        </authentication>

        <roleManager enabled="true" defaultProvider="CAESDORoleProvider" cacheRolesInCookie="true">
          <providers>
            <add name="CAESDORoleProvider"
               type="CAESDO.CAESDORoleProvider"
               applicationName="AD419"
               description="CAESDO Authorization Test Program"
               connectionString="CATBERT"
        />
          </providers>
        </roleManager>

      <authorization>
        <deny users="?"/>
      </authorization>

        <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
        -->
      
        <customErrors mode="On" defaultRedirect="Error.aspx" />
    </system.web>
  
    <location path="ReportAdministration.aspx"  >
      <system.web>
        <authorization>
          <allow roles="Admin"/>
          <deny users="*"/>
          <deny users="?"/>
        </authorization>
      </system.web>
    </location>

  <location path="ReportingModule.aspx" >
    <system.web>
      <authorization>
        <allow roles="Admin, User, Reader"/>
        <deny users="?"/>
        <deny users="*"/>
      </authorization>
    </system.web>
    
  </location>

    <location path="Error.aspx"  >
      <system.web>
        <authorization>
          <allow users="*"/>
          <allow users="?"/>
        </authorization>
      </system.web>
    </location>

    <location path="Emulation.aspx"  >
      <system.web>
        <authorization>
          <allow roles="Admin"/>
          <deny users="*"/>
          <deny users="?"/>
        </authorization>
      </system.web>
    </location>
</configuration>
