<appSettings>
  <add key="mailHost" value="smtp.ucdavis.edu"/>
  <add key="ErrorFromEmail" value="automatedemail@caes.ucdavis.edu" />
  <add key="ErrorAdminEmail" value="apprequests@caes.ucdavis.edu"/>
  <add key="AppMailTo" value="apprequests@caes.ucdavis.edu"/>
  <add key="AppName" value="AD419"/>
  <add key="ReportServer" value="http://flexo.caesdo.caes.ucdavis.edu/Reportserver"/>
</appSettings>